@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
header {
    background: gray;
    height: auto;
    margin-bottom: 5px;
    padding: 20px 10px;
    color: white;
}

.logo {
    width: 200px;
    height: 60px;
    background-color: lightgray;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    margin: 5px;
}
.nav-element p:first-child {
    font-size: 26px;
    font-weight: 700;
}

.nav-element p:nth-child(2) {
    font-size: 14px;
    font-style: italic;
}

header button{
    background-color: transparent;
    border: 2px  solid white;
    border-radius: 4px;
    padding:5px 10px;
    color: white;
}

.main-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, auto); 
    grid-gap:1px;
}

.main-article div:nth-child(1){
    background-color: grey;
}

.main-article div:nth-child(2){
    background-color: lightgray;
}

.main-article div:nth-child(3){
    background-color: grey;
}

.main-article div:nth-child(4){
    background-color: darkgray;
}

.art1 {
    text-align: left; 
    padding: 100px 50px;
    color: white;
}

.art1 p:first-child {
    font-size: 18px;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}
.art1 p:last-child{
    font-size: 14px;
    font-weight: 700;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1px;
}

.latest {
    text-align: left; 
    padding: 50px 50px;
    color: grey;
    background-color: white;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    text-decoration: underline;
}

.latest p:not(:last-child) {
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
}

.small-banner {
    padding: 40px 0;
    background-color: grey;
    margin:30px;
    height: 150px;
    border-radius: 20px;
    color: white;
    font-weight: 400;
}

.large-banner {
    grid-column: 2/4;
    text-align: center;
    background-color: grey;
    color: white;
    border-radius: 20px;
    padding:40px 0;  
}

.large-banner .circle-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightgray;
    margin: 0 auto;
}

.large-banner button {
    background-color: white;
    border: 2px  solid white;
    border-radius: 4px;
    padding:5px 10px;
    color: grey;
    font-size: 28px;
    font-weight: 700px;
}
/*Start from here*/
.coming-up{
    margin-top:5px;
    width:100vw;
    height:300px;
    background-color: darkgrey;
}
/* 
.community {
    background-color:white;
} */

.person-week {
    width:100vw;
    height:100px;
    background: gray;
}

.each-person {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 1px;
}

.featured {
    margin-top:5px;
    width:100vw;
    height:150px;
    background-color: darkgrey;
}

footer {
    margin-top:5px;
    width:100vw;
    height:600px;
    background-color: rgb(121, 118, 118);
}